project_final.cache/* linguist-vendored
project_final.hw/* linguist-vendored
project_final.ip_user_files/* linguist-vendored
project_final.runs/* linguist-vendored
project_final.sdk/* linguist-vendored
project_final.sim/* linguist-vendored